$white: #FFFFFF;
$black: #000000;
$lite-grey: #38373f;


$green: #57BD82;

$warning: #BD5757;


$blue: #3b42e5;
$grey: #ecf5fb;
$dark-grey: #cee0ec;
$shadow-dark: #414141;

$border-radius: 20px;
$border-radius-small: 10px;

// Device sizes
$mobile: 39.9375em;
$tablet: 48em;
$desktop: 68em;
